<!DOCTYPE html>
<html>
    <head>
        <!-- relative path -->
        <!-- <link rel = "stylesheet" href = "./css/stykes.css"> -->
        <!-- Absolute path -->
        <link rel = "stylesheet" href = "/css/styles.css">

    </head>

    <body>
        <h1>About (Online Class)</h1>
        <h1>My application title {{title}}</h1>       
        <p>My office location {{location}}</p>
        <img src="/img/Sai.png">
    </body>
</html>